* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

div.container {
	font-size: 22px;
	font-family: Helvetica, Arial, sans-serif;
	background-color: black;
	color: seashell;
	opacity: 0.9;
	margin: 0 auto;
	width: 1268px;
}

header {
	height: 70px;
	border-bottom: 1px solid seashell;
}

.logo-img-nav img {
	height: 50px;
	margin: 10px;
}

.logo-img-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

ul li {
	list-style: none;
	display: inline-block;
	margin: 0 5px;
	text-decoration: underline;
	color: seashell;
}

.our-mission {
	margin: 0 auto;
	background-color: black;
	min-height: 700px;
	width: 1200px;
	text-align: center;
	background-image: url('../html/images/img-mission-background.jpg');
	display: flex;
	align-items: center;
}

.headline-pos {
	background-color: black;
	width: 1200px;
}

.headline-pos h2 {
	padding-top: 5px;
	margin-bottom: 15px;
}

.headline-pos h4 {
	padding-bottom: 4px;
}
